
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;&display=swap');

.btn-primary{

}

*{
            font-family: 'Work Sans', sans-serif
}
header{
      background-color: bisque;
      padding: 50px  50px;
}

nav{display: flex;
      justify-content: space-between;
      align-items: center;

}
nav >ul {
      display: flex;
     
}
nav li{
      list-style: none;
      margin-right: 30px;
      font-weight: 500;
      font-size: 1rem;
       
}
nav li a{
      text-decoration: none;
      color: red !important;
}
.banner{
      justify-content: center;
}
.banner-content{
       max-width: 800px;
      text-align: center;
      margin: 0 auto;
}
.banner-title{
      font-size: 3rem;
      font-weight: 700;
      color: rgb(19, 19, 19);

}
.banner-description{
      color: rgb(114, 114, 114);
      font-size: 16px;
      font-weight: 400;

}
.btn-primary{
      border-radius: 8px;
      color: rgb(255, 144, 14);
      padding:20px 25px;
      font-size: 1.25rem;
      font-weight: 600;
      background: orangered;
      cursor: pointer;
      border: 0px;
    
}
.banner img{
      margin-top: 20px;
      width: 100%;
}

.main{
      max-width: 1440px;
      margin: auto;
}
.teams-container{
      display: flex;
      align-items: center;
}
.teams-img-container{
      display: grid;
      grid-template-columns:repeat(2, 1fr);
      gap: 1.5rem;
}
.teams-content{
      padding-left: 70px;
      padding-right: 70px;
}.teams-title{
     font-size: 3rem; 
}.teams-title .Quick-list{
   color: cadetblue; 
   font-weight: 500; 
}
.teams-title .text-feater{
      color: rgb(255, 144, 14);
      font-weight: 70px}
      .facts{
            font-size: 30px;
            font-weight: 600;
      }
      .paragraph{
            font-size: 16px;
            font-weight: 200;

      }


/*responsive media query*/
@media screen and (max-width: 576px){ header{
      padding: 18px;
}
nav,
.teams-container
{
      flex-direction: column;
}
.teams-img-container{
      grid-template-columns: 1fr;
}

}


/*tablet or medium devices*/
@media screen and (min-width: 576px)and (max-width: 960px) { 
header{
      padding: 50px;
}
nav{
      flex-direction: column;
}

}